/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/**手刻區**/
body {
    border-left: 2px solid black;
}

.navbar {
    width: 100%;
    /*background-color: black;*/
    height: 85px;
    line-height: 85px;
    margin-bottom: 0px;
}

.navbar .navbar-list {
    display: block;
    float: right;
}

.navbar a {
    height: 80px;

}
.logo{
	position: relative;
}
.logo h1,.logo a{
	position: absolute;
	width: 100%;
}
.logo h1{
	padding-left: 100px;
}
.navbar a img {
    padding-left: 37px;
    margin-top: 23px;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    width: 20vh;
    color: #20CB9A;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
}

.navbar li:hover {
    background-color: rgba(240, 240, 240, .3);
    border-bottom: 3px solid #20CB9A;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel-inner .item {
    text-align: center;
}

.skill-item {
    border-color: 1px solid black;
    display: inline-block;
    padding: 10px;
    margin: 100px 0;
    box-shadow: 5px 5px 15px rgba(200, 200, 200);
}
main{
	margin-bottom: 100px;
    text-align: center;
}
.main-table{
    padding: 0 80px;
}
table caption {
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

table th,
table td {
    text-align: center;
}
table th{
	background-color: rgba(240, 240, 240);
}
section{
	background-color: #0A654C ;
	background:linear-gradient(#0A654C,	#81c0c0);
	text-align: center;
	height: 450px;

}
.contact-title{
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	color :white;
}
.contact-item{
	height: 350px;
	width: 45%;
	padding: 30px;
	float: left;
	
}
.contact-item textarea{
	height: 100%;	
}
.contact-item-textbox .form-group{
	text-align: left;
	line-height: 30px
}
.contact-item-textbox .form-group label{
	color:white;
	margin-bottom: 10px;

}
footer{
	background-color:#272626 ;
	height: 100px;
	position: relative;
}
footer label{
	color:white;
	position: absolute;
	padding: 40px 30px;
}